
.idea/
.DS_Store
__pycache__/
classification/convertor/
segmentation/convertor/
checkpoint_dir/
demo/
detection/demo
detection/checkpoints
detection/model_inputs
detection/model_outputs
detection/*.tmp
